h1{
    text-align: center;
    background-color:rgba(112, 82, 1, 0.788);
    color: black;
    padding-bottom: 10px;
    padding-top: 10px;

}
.h5{
    align-content: center;
    background-color:rgba(112, 82, 1, 0.788);
    padding: 15px;
    color: black;
    margin: 0px;
    padding-left: 10px;
}

.gen{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);
    font-size: 18px;
    align-items: center;
    background-color: rgba(112, 82, 1, 0.788);
}
#gender{
    padding-top: 20px;
}
.input{
    padding-left: 10px;
}
.body{
    background-color: rgb(214, 146, 86);
    background-size: cover;
    background-image: url(../images/black.jpg)
}
.column{
    background:  rgba(112, 82, 1, 0.788);
    display: table-cell;
    padding: 5px;
    width: 33%;
    text-align: center;
    color: black;
    vertical-align: middle;
    border-right: 3px solid #0c0c0c;
    border-left: 3x solid #080808;
    border-color:rgb(8, 8, 8);
    border-top-color: black;
   
   
}
.row{
    margin: 1px 0;
    border-left: 1px black;
    border-top: 1px;
    border-bottom: 1px;
}
.form{
    padding: 500px; 
    padding-top: 20px;
    padding-bottom: 30px;
}
.bg{
    background-image: url(../images/w.jpg);
    height: 77%; width: 110%;
    background-repeat: repeat-x;
    padding-bottom: 0px;
}
.button{
    padding-bottom: 10px;
}